{% extends 'administrator\base.html' %}
{% load static %}
<style>
  .card{
    display: inline-flex;
  }
</style>
{% block content %}

<div class="container">
  <div class="card my-3 mx-5" style="width: 18rem;height: 210px ; border: black solid 2px;display: inline-flex;">
    <div class="card-body">
      <h3 class="card-title">Pending orders</h3>
      <h5 class="card-title">See Pending Orders Here</h5>
        
        <a href="{% url 'administrator_Pending_order_view' %}"><button type="button" class="btn btn-primary position-relative">
         Orders
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{Pending_order}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button></a>
     </div>
  </div>

  <div class="card my-3 mx-5 " style="width: 18rem;height: 210px ; border: black solid 2px;display: inline-flex;">
    <div class="card-body">
      <h3 class="card-title">Send back Orders</h3>
      <h5 class="card-title">See Send back Orders</h5>
      <a href="{% url 'administrator_Send_back_order_view' %}">
      <button type="button" class="btn btn-primary position-relative">
        Orders
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{Send_back_order}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></a>
    </div>
  </div>


  <div class="card my-3 mx-5" style="width: 18rem; border: black solid 2px;display: inline-flex;">
    <div class="card-body">
      <h3 class="card-title">Approved/delivering Orders</h3>
      <h5 class="card-title">See Approved/delivering Orders</h5>
      
      <a href="{% url 'administrator_Approved_order_view' %}">
      <button type="button" class="btn btn-primary position-relative">
        Orders
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{Approved_order}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></a>
      
    </div>
  </div>
  

</div>

<div class="container">
  <div class="card my-3 mx-5" style="width: 18rem;height: 210px ; border: black solid 2px;display: inline-flex;">
    <div class="card-body">
      <h3 class="card-title">Delivered Orders</h3>
      <h5 class="card-title">See delivered Orders</h5>
      <a href="{% url 'administrator_delivered_order_view' %}"> 
      <button type="button" class="btn btn-primary position-relative">
        Orders
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{delivered_order}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></a>
     </div>
  </div>

  <div class="card my-3 mx-5 " style="width: 18rem;height: 210px ; border: black solid 2px;display: inline-flex;">
    <div class="card-body">
      <h3 class="card-title">Add Products</h3>
      <h5 class="card-title">Click to add Products</h5>
      <a href="{% url 'adminstrator_add_Product' %}"> 
      <button type="button" class="btn btn-primary position-relative">
          Add Products
      </button></a>
    </div>
  </div>
  

</div>


  



<!-- <div class="card">
    <div class="card-header">
        Pending Ordars
    </div>
    <div class="card-body">
      <h5 class="card-title">See Pending Orders Here</h5>
      
      <a href="{% url 'administrator_Pending_order_view' %}"><button type="button" class="btn btn-primary position-relative">
       orders
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{Pending_order}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></a>
    </div>
</div> -->
  <!-- <div class="card">
    <div class="card-header">
        Send back Ordars
    </div>
    <div class="card-body">
      <h5 class="card-title">See Send back Orders</h5>
      <a href="{% url 'administrator_Send_back_order_view' %}">
      <button type="button" class="btn btn-primary position-relative">
       orders
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{Send_back_order}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></a>
    </div>
  </div> -->
  <!-- <div class="card">
    <div class="card-header">
        Approved & delivering Orders
    </div>
    <div class="card-body">
      <h5 class="card-title">See Approved & delivering Orders</h5>
      
      <a href="{% url 'administrator_Approved_order_view' %}">
      <button type="button" class="btn btn-primary position-relative">
       orders
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{Approved_order}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></a>
    </div>
  </div> -->
  <!-- <div class="card">
    <div class="card-header">
        delivered Orders
    </div>
    <div class="card-body">
      <h5 class="card-title">See delivered Orders</h5>
      <a href="{% url 'administrator_delivered_order_view' %}"> 
      <button type="button" class="btn btn-primary position-relative">
       orders
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{delivered_order}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></a>
    </div>
  </div> -->
  <!-- <div class="card">
    <div class="card-header">
        delivered Orders
    </div>
    <div class="card-body">
      <h5 class="card-title">See delivered Orders</h5>
      <a href="{% url 'adminstrator_add_Product' %}"> 
      <button type="button" class="btn btn-primary position-relative">
       orders
      </button></a>
    </div>
  </div> -->
{% endblock content %}

