{% extends 'administrator\base.html' %}
{% load static %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">order_id</th>
        <th scope="col">Order_date</th>
        <th scope="col">Order_Status</th>
        <th scope="col">Grand total</th>
        <th scope="col">Details & Update</th>
        
      </tr>
    </thead>
    
    <tbody>
        {% for i in order %}
     
      <tr>
        <td>{{i.order_id}}</td>
        <td>{{i.Order_date_Time}}</td>
        <td>{{i.Order_Status}}</td>
        <td>{{i.cost}}</td>
        <td> <a  class="btn btn-sm btn-info" href="{% url 'Dealer_add_product' i.order_id %}"> Details & Update </a> </td>
     
      
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="mx-auto"><strong class="text-danger" >{{warning}}</strong></div>
    
{% endblock content %}
